:root {
  --max-site-width: 1440px;
  --border-radius: 1.5;
  --header-height: 5rem;

  /* --background: #F1E6D2; */
  --background: #eff2fd;
  /* --foreground: #1E0D5D; */
  --foreground: #000;

  --homepage-section-bg: #eff2fd;

  --background-fade-overlay: #7777;
  --dropdown-background: #D1D7F1;
  --dropdown-text-color: #fff;
  --dropdown-option-background: #1E0D5D;
  --dropdown-option-hover-background: #4840D3;
  --dropdown-option-active-background: #1E0D5D;
  --dropdown-option-disabled-background: #8c8c8c;
  --menu-background: var(--background);
  --menu-border-color: var(--foreground);
  --menu-border-size: 0px;
  --header-background: #d1d7f1;
  --header-container-border-size: 1px;
  --header-container-border-color: var(--background);
  --header-text-color: #1E0D5D;
  --header-current-nav-color: #554433;
  --header-nav-item-color: #1E0D5D;
  --header-nav-border-size: 2px;
  --header-nav-border-color: #4840d3;
  --header-nav-button-color: transparent;
  --header-nav-button-border-size: 0px;
  --header-nav-button-border-color: #4840d3;
  --header-nav-item-hover-color: #4840d3;

  --footer-background: #d1d7f1;

  --text-color: #1E0D5D;

  --archiveList-hover-background: #000000a1;
  --archiveList-text-color: #fff;

  --carrousel-selected-border-size: 2px;
  --carrousel-selected-border-color: #eff2fd;
  --carrousel-text-color: #eff2fd;

  --scrollbar-background: transparent;
  --scrollbar-handle-color: #8c8c8c;
  --scrollbar-handle-hover-color: #ABA9A9;
  --scrollbar-handle-active-color: #7B7A7A;

  --loading-skeleton-background: linear-gradient(45deg, #5f5f5f, #e9e9e9, #5f5f5f);

  --submit-form-hover-background: #d1d7f1;
  --submit-form-active-background: #9892ff;

  --contact-border-size: 2px;
  --contact-border-color: #1E0D5D;
  --contact-image-fill: #4840d3;

  --text-underline-height: 0.15rem;
  --text-underline-color: #4840d3;

  --langbutton-bgColor: #d1d7f1;
  --lang-button-icon-color: #4840d3;
}

html, body {
  max-width: 100vw;

  scroll-behavior: smooth;
  scroll-margin: calc((var(--header-height) + 1rem));
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    min-height: 100svh;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: var(--scrollbar-handle-color) var(--scrollbar-background);
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: 0.75rem !important;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: calc(var(--border-radius) * 0.5rem);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle-color);
  border-radius: calc(var(--border-radius) * 0.5rem);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-handle-hover-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-handle-active-color);
}

#pageContent {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#pageContent > *:nth-child(1) {
  height: fit-content;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
} */
